<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#"><i class="fa fa-edit"> Registro</i></a></li>
		<li><a href="#"><i class="fa fa-tasks"> Balance</i></a></li>
		<li><a href="#"><i class="fa fa-bar-chart-o"> Estadísticas</i></a></li>
	</ul>
	<h3 class="text-muted">homeAccount</h3>
</div>

<div class="container-fuid">
	<div class="row">
		<button ng-click="incrementWorkDate()" ng-disabled="!canIncrementWorkDate()"
			class="btn btn-success">
			<i class="fa fa-plus fa-lg"></i>
		</button>
		<datepicker ng-model='workDate' date-format='dd/MM/yyyy' 
					label-format='dd / MMM / yyyy'
					disable-timepicker='true' disable-clear-button='true'>
		</datepicker>
		<form class="form-inline" role="form">
			<div class="checkbox">	
				<label>
					<input type="checkbox" ng-true-value="I"
						ng-false-value="E" ng-model="workEntry.conceptType"> Ingreso
				</label>
			</div>
			<div class="form-group">
				<label class="sr-only" for="workEntryConcept">Concepto</label>
				<input id="workEntryConcept" type="text" class="form-control" 
				ng-model="workEntry.concept" placeholder="Introduce el Concepto">
			</div>
			<div class="form-group">
				<label class="sr-only" for="workEntryAmount">Cantidad(en céntimos)</label>
				<input  id="workEntryAmount" type="number" class="form-control"
				ng-model="workEntry.amount" placeholder="0.0">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</div>

<div class="row marketing">
	<pre ng-bind="workEntry | json"></pre>
	<pre ng-bind="entries | json"></pre>
</div>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>