<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">homeAccount</h3>
</div>

<div class="jumbotron">
	<h1>Nueva Entrada</h1>
	<p class="lead">Introduzca un nuevo apunte contable:</p>
	<label>Concepto</label>
	<input type="text" ng-model="entry.concept">
	<label>Tipo(Ingreso o Gasto)</label>
	<input type="text" ng-model="entry.conceptType">
	<label>Cantidad(en céntimos)</label>
	<input type="text" ng-model="entry.amount">
	<label>Fecha</label>
	<input type="date" ng-model="entry.date">			
</div>

<div class="row marketing">
	<pre ng-bind="entry | json"></pre>
	<h3 ng-bind="entries | json"></h3>
</div>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>